* { 
margin: 0; 
padding: 0; 
font-size: 1em; 
}

body, td, input, textarea { 
background: rgba(0,0,0,.1); 
font-family:"Avenir LT W01 35 Light"; 
line-height: 1.4; 
text-shadow: 0 1px 0 rgba(255,255,255,.5);
padding-top: 0px; 
}

a:link {
	text-decoration: none;
	color:black;

}

a:visited {
color:black;
}  
 
#container {
	width:900px;
	margin:0 auto;
}

.logomark img {
	width:150px;
	height:150px;
	margin:0 0 0 400px;
}

.navmenu {
	width:900px;
	
}

.navmenu li{
	width:290px;
	float: left;
	z-index:1;
	background-color: rgba(0,0,0,.1);
	font-family:"Avenir LT W01 85 Heavy";
	font-size:24px;
	text-align:center;
	margin:5px;	
}



.test { 
width: 900px; 
padding: 20px; 
float: left; 
margin: 0 0 40px 0; 
background-image: url(../images/bathroomgrey.png);
background-repeat: no-repeat;
}

.test .area { 
width: auto; 
margin: 0 ; 
position: relative; 
}

.test .box { 
margin: 0px; 
width: 300px; 
height: 150px; 
line-height: 32px; 
text-align: center; 
background: black; 
z-index: 100; 
color: #ddd;
float: left; }

.test .box2 { 
margin: 0px; 
width: 300px; 
height: 150px; 
line-height: 32px; 
text-align: center; 
background: black; 
z-index: 2; 
color: #ddd;
float: left; }

.test .box3 { 
top: 50%; 
left: 50%; 
margin: 0px; 
width: 300px; 
height: 150px; 
line-height: 32px; 
text-align: center; 
background: black; 
border-radius: 2px; 
z-index: 2; 
color: #ddd;
float: left; }

.test .box4 { 
top: 50%; 
left: 50%; 
margin: 0px; 
width: 300px; 
height: 150px; 
line-height: 32px; 
text-align: center; 
background: black; 
border-radius: 2px; 
z-index: 2; 
color: #ddd; 
float: left;}

.test .box5 { 
top: 50%; 
left: 50%; 
margin: 0px; 
width: 300px; 
height: 150px; 
line-height: 32px; 
text-align: center; 
background-color: black; 
border-radius: 2px; 
z-index: 2; 
color: #ddd; 
float: left;}

.test .box6 { 
top: 50%; 
left: 50%; 
margin: 0px; 
width: 300px; 
height: 150px; 
line-height: 32px; 
text-align: center; 
background: black; 
border-radius: 2px; 
z-index: 2; 
color: #ddd; 
float: left;}

.test .box7 { 
top: 50%; 
left: 50%; 
margin: 0px; 
width: 300px; 
height: 150px; 
line-height: 32px; 
text-align: center; 
background: black; 
border-radius: 2px; 
z-index: 2; 
color: #ddd; 
float: left;}

.test .box8 { 
top: 50%; 
left: 50%; 
margin: 0px; 
width: 300px; 
height: 150px; 
line-height: 32px; 
text-align: center; 
background: black; 
border-radius: 2px; 
z-index: 2; 
color: #ddd; 
float: left;}

.test .box9 { 
top: 50%; 
left: 50%; 
margin: 0px; 
width: 300px; 
height: 150px; 
line-height: 32px; 
text-align: center; 
background: black; 
border-radius: 2px; 
z-index: 2; 
color: #ddd; 
float: left;}

#footer {
	width:800px;
	float:left;
	background-color:rgba(0,0,0,.1);
	padding:10px 50px 0px 50px;
	font-family:"ITCBerkeleyOldstyleW01- 812501";
	font-size:10px;	
} 

.menu {
	width:360px;
	float: left;
	padding:0 0 10px 0;	
}

ul {
	list-style-type: none;	

	
}

.contact {
	width:400px;
	float:right;
	text-align: right;
	font-size:;	
}

.disclaimer {
	float:left;
	font-family:"Avenir LT W01 35 Light";
	font-size:8px;
	line-height:98%;
	
}

