* {
	margin:0;
	font-size:14px;
	background:rgba(230,230,230,1);
	text-shadow: 0px 0px 1px #888888;
}

body { 
	font-family:"Calvert MT W01"; 
	line-height: 1.25em;  
}


header {
	font-size:16px;
	font-family:"Museo Sans W01 100";
	padding:20px 0 20px 0;

}

header li{
	margin:0 10px 0 10px;	
	padding: 15px 0 0px 0;
}

.logo {
	width:100px;
	margin:0 0 0 140px;
}

.mainhead {
	margin:20px 0 20px 0;
	text-align:center;
	
}

.login{
margin:15px 0 0 150px;	
}

a:hover{
	text-decoration:none;
	color:white;
	
}

a {
	color:black;
	
}

.collections {
	font-size:18px;
	font-family:"Museo Sans W01 500";
	text-align: center;
}

.collections li {
	padding:5px 5px 5px 5px;
	box-shadow:0px 3px 5px #888888;
}


.search {
	background-color:rgba(51,51,51,1);
	padding:20px 0 20px 0;
	
}

.heading {
	background:rgba(230,230,230,1);
		padding:40px 0px 0 0;

}

h1 {
	font-family:"Museo Sans W01 100";
	font-size:20px;
	
}

.content {
	background:rgba(230,230,230,1);
	text-align:left;
	box-shadow:0px 1px 1px #888888;
	padding:20px 0 60px 0;
}


.content p {
	font-family:"Calvert MT W01 Light";	
	font-size:13px;
}


.content img {
	width:150px;
	box-shadow:0px 3px 5px #888888;
	margin:0 0 20px 0;

}

h3 {
	font-family:"Calvert MT W01 Bold";
	text-align:left;
	margin-top:5px;
	margin-bottom:10px;
	font-size:24px;
	
}

h4 {
	font-family:"Museo Sans W01 100";
	margin-bottom:10px;
	font-size:20;
	
}


h6 {
	font-family:"Museo Sans W01 100";
	font-size:16px;
	
}


.arrow{
	padding:100px 0 0 10px;
	
}

.content ul{
	margin-top:40px;
	
}

.content li {
	background:rgba(51,105,121,1);
	padding:10px 0 10px 0;
	text-align: center;
}


.title {
	margin:0 0 50px 0;
}

.isbn {
	margin:10px 0 15px 0;
		padding:15px 0px 10px 15px;
	background-color:rgba(179,179,179,1);
}

h5 {
	font-family:"Museo Sans W01 100";
	font-size:12px;
	margin:8px 0 8px 0;
}

.description p{
	margin:0 0 15px 0;	
	font-size:13px;
}

.action {
	margin:20px 0 0 0;
	
}

.pagination {
	margin:0px 0 0 30px;
	padding:100px 0 0 0;
}

footer {
	background:rgba(179,179,179,1);
	padding:30px 0 15px 0;
	text-align:center;
}

footer li{
	margin:3px;
	
}
.address {
font-size:12px;
line-height:150%;
	
}
.social {
	margin:25px 0 15px 0;
	
}

.copyright{
	font-size:11px;
	
}

.color1{
	background:rgba(51,105,121,1);
	
}

.color1:hover {
	background:rgba(179,179,179,1);
	
}

.color2{
	background:rgba(31,138,112,1);
	
}
.color2:hover {
	background:rgba(179,179,179,1);
	
}
.color3{
	background:rgba(190,219,57,1);
	
}
.color3:hover {
	background:rgba(179,179,179,1);
	
}
.color4{
	background:rgba(255,225,26,1);
	
}
.color4:hover {
	background:rgba(179,179,179,1);
	
}
.color5{
	background:rgba(253,116,0,1);
	
}
.color5:hover {
	background:rgba(179,179,179,1);
	
}
.color6{
	background:rgba(142,53,87,1);
	
}
.color6:hover {
	background:rgba(179,179,179,1);
	
}


/*---xx-small screens---*/
@media (max-width: 480px) { 

.mainhead {
	margin:90px 20px 20px 20px;
	text-align:center;
}

.mainhead li {
	margin:0 100px 0 100px;
	
}


footer p{
	margin:20px;
	font-size:11px;
	
}
}


/*---x-small screens---*/
@media (min-width: 480px) and (max-width: 750px) { 

.logo {
	width:100px;
	margin:0 0 0 200px;
}

.mainhead {
	margin:100px 0 20px 0;
	
}

.login{
	margin:25px 0 0 210px;	
}

.title {
	margin:0 0 20px 0;
}

.isbn {
	margin:10px 0 15px 0;
}

.content li {
	margin:30px 0 0 0;
}

footer p{
	margin:20px;
	font-size:11px;
	
}
	
}

/*---small screens---*/
@media (min-width: 750px) and (max-width: 970px) { 

.logo {
	width:100px;
	margin:0 0 0 40px;
}

.mainhead {
	margin:20px 0 20px 0;
	
}

.login{
	margin:30px 0 0 0px;	
}


.title {
	margin:0 0 20px 0;
}

.isbn {
	margin:10px 0 15px 0;
}

.content {
	padding:60px 0 60px 0;
}
.content li {
	margin:30px 0 0 0;
}

.description p{
	margin:0 0 15px 0px;	
}
footer {
	text-align:left;
	
}
	
}

/*---medium screens---*/
@media (min-width: 970px) and (max-width: 1170px) { 

.logo {
	width:100px;
	margin:0 0 0 40px;
}

.mainhead {
	margin:20px 0 20px 0;
	
}

.login{
	margin:30px 0 0 0px;	
}

.content {
	padding:60px 0 60px 0;
}

.title {
	margin:0 0 20px 0;
}

.isbn {
	margin:10px 0 15px 0;
}

.content li {
	margin:30px 0 0 0;
}

.description {
	margin:20px 0 15px 0px;
	padding:0 30px 0 0;

}

footer {
	text-align:left;
	
}



}

/*---large screens---*/
@media (min-width: 1170px) {  

.collections li{
	padding-top:8px;
}
.logo {
	width:100px;
	margin:0 0 0 40px;
}

.mainhead {
	margin:20px 0 20px 0;
	
}

.login{
	margin:30px 0 0 0px;	
}

.content {
	padding:60px 0 60px 0;
}

.title {
	margin:0 0 20px 0;
}

.isbn {
	margin:10px 0 15px 0;
}

.content li {
	margin:30px 0 0 0;
}

.description {
	margin:20px 0 15px 0px;
	padding:0 30px 0 0;

}

footer {
	text-align:left;
	
}

}