* { 
	margin: 0; 
	padding: 0; 
	font-size: 1em; 
	font-family: 'Dosis', sans-serif;
}

body {
	background-color:rgba(0,0,0,.1);
	
}

#container {
	position: relative;
	width:900px;
	margin:0 auto;
	font-family:"Avenir LT W01 35 Light"; 
	line-height: 1.4; 
	padding: 10px;

}

a:link {
	text-decoration: none;
	color:black;
}
a:hover {
	font-family:"Avenir LT W01 65 Medium";
}

a:visited {
	color:black;
}  
 
img {
	width:210px;
	height:75px;
	float:left;
} 
 
#navmenu {
position:absolute;
	width:1000px;
	float: left;
	z-index:5;
	font-family:"Avenir LT W01 35 Light";
	font-size:16px;
	text-align:center;
	margin:5px 5px 70px 5px;
	padding-top:10px;
	padding-bottom:10px;
	} 

#navmenu a{
	margin:30px;
	
}

.drop {
	position: absolute;
	width:800px;
	padding:20px 0 0 120px;
	z-index:1;
}

.test1{
	position:absolute;
	margin:0 0 0 80px;
}

.test2{
	position:absolute;
	margin:0 0 0 190px;
}

.test3{
	position:absolute;
	margin:0 0 0 300px;
}

.test4{
	position:absolute;
	margin:0 0 0 410px;		
}

.test5{
	position:absolute;
	margin:0 0 0 520px;		
}

.test6{
	position:absolute;
	margin:0 0 0 630px;		
}

.test7{
	position:absolute;
	margin:0 0 0 740px;		
}

.box1 { 
	position:absolute;
	width: 70px; 
	height: 70px; 
	background: rgba(3,18,94,1); 
	-moz-border-radius: 140px; 
	-webkit-border-radius: 140px; 
	border-radius: 140px;
	z-index: 2; 
	float: left;
	margin:10px;
	text-align:center;

}

.box2 { 
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;

}

.box3 { 
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;}

.box4 { 
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;
}

.box5 { 
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;
}

.box6 {
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;
}


.box7 {
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;
}

.box8 {
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;
}

.box9 {
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;
}

.box10 {
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;
}

.box11 {
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;
}

.box12 {
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;
}

.box13 {
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;
}

.box14 {
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;
}

.box15 {
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;
}

.box16 {
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;
}
.box17 {
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;
}
.box18 {
position:absolute;
width: 70px; 
height: 70px; 
background: rgba(3,18,94,1); 
-moz-border-radius: 140px; 
-webkit-border-radius: 140px; 
border-radius: 140px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;
}

.content {
	margin:200px 20px 50px 20px;
	width: 900px;
}



.mission {
	width:400px;
	float:left;
	margin:180px 0 50px 0;
	line-height:150%;
	font-size:20px;
}

.mission ul{
	margin-left:35px;
	line-height:150%;
}


h3 {
	margin:0 0 10px 0;
	font-family:"Avenir LT W01 65 Medium";
	font-size:26px;

}

h4 {
	margin:0 0 5px 0;
	font-family:"Avenir LT W01 65 Medium";
	
}

.donate {
	width:300px;
	float:left;
	margin:280px 0 0 200px;
	font-family:"Avenir LT W01 65 Medium";
	font-size:24px;
}

.box30 { 
width: 125px; 
height: 125px; 
background: rgba(3,18,94,.4); 
-moz-border-radius: 250px; 
-webkit-border-radius: 250px; 
border-radius: 250px;
z-index: 2; 
float: left;
margin:10px;
text-align:center;
}

.initiatives {
	width:900px;
	float: left;
	margin:90px 0 0 0;
}

.initiatives h3{
	width:280px;
	float: left;
	height:80px;
	text-align: center;
	border-left:1px dashed black;
	margin:10px 5px 100px 0;
	padding-top:40px;
}

h4{
	width:280px;
	float: left;
	height:80px;
	text-align: center;
	margin:10px 5px 100px 0;
	padding-top:40px;
	font-size:25px;
}

.persons {
	width:800px;
	float:left;
	margin-bottom:100px;
	list-style: none;
	
}
.persons h5{
	margin-top:30px;
	margin-bottom:10px;	
}

.persons ul {
list-style: none;
}

span {
	
	
}

#footer {
	border-top:1px solid black;
	width:800px;
	font-size:12px;
	padding:10px 20px 5px 10px;
	float:left;
}

.footermenu {
	width:600px;
	float:left;
	font-size:16px;
	margin-top:10px;
}

.footermenu a{
	width:120px;
	float:left;
	text-align: center;
}

.footermenu ul{
		list-style:none;

	
}

.contact {
	width:200px;
	float:right;
	font-size:11px;
	text-align:right;
	margin-top:10px;
	margin-bottom:20px;
}

.warning {
	font-size:9px;
	float:left;
	margin:10px 0 5px 0;
}